.bg-black {
    background-color: color('bg', 'dark') !important;
}

.bg-highlight {
    background-color: color('highlight');
    background-image: linear-gradient(
        176deg,
        color('highlight', 'light'),
        color('highlight') 35%,
        color('highlight', 'dark')
    );
}
